<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <span class="image">
    <%= form.file_field :image %>
  </span>

  <div class="field-set">
    <%= form.collection_check_boxes( :category_ids, Category.all, :id, :name ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('input[type="checkbox"]').on('change', function(){
        var noChecked = 0;
        $.each($('input[type="checkbox"]'), function(){
            if($(this).is(':checked')){
                noChecked++;
            }
        });
        if(noChecked >= 2){
            $.each($('input[type="checkbox"]'), function(){
                if($(this).not(':checked').length == 1){
                    $(this).attr('disabled','disabled');
                }
            });
        } else{
            $('input[type="checkbox"]').removeAttr('disabled');
        };
    });
    $("#article_image").bind("change", function() {
        const size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert("Maximum file size is 5MB. Please choose a smaller file.");
            $("#article_image").val("");
        }
    });
</script>
