<p id="notice"><%= notice %></p>

<div class="upper">
  <div class="carousel">
    <%= cl_image_tag(@article.image.key, gravity: "face") if @article.image.attached? %>
    <div class="tag">
      <%= link_to @article.categories.sample.name, category_url(@article) %>
    </div>
    <div class="description">
      <%=link_to @article.title, article_path(@article) %>
    </div>
  </div>
  <div class="weather">
    <%= cl_image_tag(@article.image.key, gravity: "face") if @article.image.attached? %>
  </div>
</div>

<div class="lower">
    <% @articles.each do |article| %>
          <div class="content">
            <%= cl_image_tag(article.image.key, gravity: "face") if article.image.attached? %>
            <div class="tag">
              <%= link_to article.categories.sample.name, category_url(article) %>
            </div>
            <div class="description">
              <%=link_to article.title, article_path(article) %>
            </div>
          </div>

<!--        <td><%#= link_to 'Show', article %></td>-->
        <%# if !current_user.nil? && (current_user.admin? || current_user == article.author) %>
<!--          <td><%#= link_to 'Edit', edit_article_path(article) %></td>-->
<!--          <td><%#= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        <%# end %>
    <% end %>
</div>
