<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @article.author.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<div class="content">
  <%= cl_image_tag(@article.image.key, width: 300, height: 200, effect: "cartoonify", gravity: "face") if @article.image.attached? %>
</div>

<p>
  <% if current_user %>
    <% if @current_vote %>
      <%= button_to 'Unvote', article_vote_path(@article, @current_vote), method: :delete %>
    <% else %>
      <%= button_to 'Vote', article_votes_path(@article) %>
    <% end %>
  <% end %>
  <%= pluralize(@likes.size, 'vote') %>
</p>

<h2>Categories</h2>
<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
