<p id="notice"><%= notice %></p>
<div class="article-show">
<p class="title">
  <%= @article.title %>
</p>


<div class="category-wraper">
  <div class="content">
    <%= cl_image_tag(@article.image.key, gravity: "face") if @article.image.attached? %>
  </div>
</div>
<p>
  <%= @article.text %>
</p>

<p class="author">
  <span>Author:</span>
  <%= @article.author.name %>
</p>

<p>
  <% if current_user %>
    <% if @current_vote %>
      <%= button_to 'Unvote', article_vote_path(@article, @current_vote), method: :delete %>
    <% else %>
      <%= button_to 'Vote', article_votes_path(@article) %>
    <% end %>
    <p class="votes"><%= pluralize(@likes.size, 'vote') %></p>
  <% end %>
</p>

<h2 class="article-show-categories">Categories</h2>
<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
<% if current_user == @article.author %>
<div class="edit">
  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= link_to 'Back', articles_path %>
  <%= link_to 'Delete', article_path(@article), method: :delete %>
</div>
<% end %>
</div>
