<!DOCTYPE html>
<html>
  <head>
    <title>Metalizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="galleria/galleria-1.4.min.js"></script>
  </head>

  <body>
    <nav>
      <%= render 'layouts/logo' %>
      <%= render 'layouts/categories' %>
      <%= render 'layouts/signin_form' %>
    </nav>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
